*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
}

.header{
    background-color: black;
    height: auto;
    width:  100%;
    
}

.name{
    box-sizing: border-box;
    padding: 15px;
    width: 60%;
}
.second_header{
    /* background-color: black; */
    width: 100%;
}

.my_rol{
    background-color: black;
    color: yellow;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 5em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    letter-spacing: 0.25em;
}

.polygon{
    width: 100%;
    padding: 0%;
    margin: 0%;
    
}
.rotar_13 
    { 
      /* -webkit-transform: rotate(-30deg); 
      -moz-transform: rotate(-30deg); 
      -ms-transform: rotate(-30deg); 
      -o-transform: rotate(-30deg);  */
      transform: rotate(-13deg); 
      
      /* -webkit-transform-origin: 50% 50%; 
      -moz-transform-origin: 50% 50%; 
      -ms-transform-origin: 50% 50%; 
      -o-transform-origin: 50% 50%;  */
      transform-origin: 0% 0%;
      font-family: 'Raleway', sans-serif;
      font-weight: 300; 
      position: relative;
      text-align:justify, center;
      padding-left: 15px;
      /* padding-right: 17px; */
      /* top: 100px;  */
    }

    /* small mobile */
    @media only screen and (max-width:347px) {
        .my_rol{
            font-size:18px;
        }
        .rotar_13{
            font-size:18px;
            background-color: chartreuse;
        }
    }

    /* medium mobile */
    @media only screen and (max-width:380px) {
        .rotar_13{
            font-size:20px;
            background-color: rgb(255, 0, 149);
        }
    }

    /* medium mobile */
    @media only screen and (max-width:400px) {
        .rotar_13{
            font-size:22px;
        }
    }

    /* big mobile */
    @media only screen and (min-width:401px) {
        .rotar_13{
            font-size:23px;
        }
    }





